body {
  background-image: url('D:\Reactproject\netflix\src\IMG_20230712_110923.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.netflix-clone {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Adding a dark overlay for better readability */
  min-height: 100vh;
  padding: 2px;
}

header {
  padding: 20px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

.movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.watch-button {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.watch-button:hover {
  background: darkred;
}
footer {
  margin-top: 115px;
  padding: 1px;
  background: rgba(0, 0, 0, 0.8);
}
